
.row td {
  border-bottom: none;
}

.innerRowWrap {
  text-align: left;
}

.innerRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.innerRow label {
  color: #a5a5a5;
  font-size: 0.9em;
}

.innerRow span {
  font-size: 1em;
  font-weight: 500;
}
