/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../variables.css';

.root {
}

.container {
}

.label {
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (min-width: 860px) {

  .popPickerLabel {
    color: #ff4500;
    font-size: 20px !important;
  }

}
