
.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.childItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
}

.childLabel {
  font-size: 0.9rem;
  font-weight: 400;
  color: #747474;
}

.childIcon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  color: #747474;
  font-size: 0.9rem;
  font-weight: 400;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
