.root {
  padding: 15px;
  margin-bottom: 15px;
  max-height: 500px;
  overflow: scroll;
  box-shadow: 2px 2px #A09C9B;
  border: 1px solid #d3d3d3;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.feedbackId {
  color: #5c5c5c;
  font-size: 1.2em;
  font-weight: 500;
}

.postDate {
  color: #a69f9f;
  font-size: 0.9em;
}

.content {
}

