
.root {
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatarWrap {
  margin-right: 15px;
}

.scheduleDescription {
  width: 100%;
  position: relative;
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #e9f2f1;
  padding: 15px;
  border-radius: 8px;
}

.arrowLeft {
  position: absolute;
  top: 25px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e9f2f1;
}

.unplannedText {
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
}
