/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../../components/variables.css';

.stepStyle {
  width: calc(100% - 24px);
  margin: 27px 12px;
}

.stepTitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.label {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #646464;
  margin: 10px 0;
}

.divider {
  border-top: 1px solid #e0e0e0;
  margin: 24px 0;
}

.wrapWeekday {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 13px 0;
}

.buttonWeekday {
  min-width: 0 !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 36px !important;
  background-color: #eee !important;
}

.buttonWeekday span {
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
  color: #646464 !important;
  padding: 0 !important;
  vertical-align: top !important;
}

.buttonWeekdayOn {
  composes: buttonWeekday;
  background-color: #ff7928 !important;
}

.buttonWeekdayOn span {
  color: white !important;
}

.buttonNext {
  background-color: #ff7928 !important;
  width: 100% !important;
  height: 51px !important;
  border-radius: 2px !important;
  margin: 12px 0 !important;
}

.buttonNext span {
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  color: white !important;
}

.wrapTimeRange {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.rangeDivider {
  border-left: 1px solid #e0e0e0;
  margin: 0 23px;
}

.wrapScheduleRangeButton {
  display: flex;
  justify-content: center;
}

.wrapScheduleRangeButton > * {
  flex: 1;
}

.buttonScheduleRange {
  box-sizing: border-box !important;
  height: 43px !important;
  border: 1px solid #d1d1d1 !important;
  min-width: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.buttonScheduleRange span {
  font-size: 0.8125rem !important;
  font-weight: 500 !important;
  color: #686868 !important;
  padding: 0 !important;
}

.buttonScheduleRangeActive {
  composes: buttonScheduleRange;
  background-color: #ff7928 !important;
  border: 1px solid #ff7928 !important;
}

.buttonScheduleRangeActive span {
  color: white !important;
}

.guideInactivate {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #ff7928;
}

.showContents {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hideContents {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.dialogMessage {
  font-weight: 500;
}

.dateTimeItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.dateTimeLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
