/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../variables.css';

.root {
  position: absolute;
  left: 25px;
  top: 0;
}

.container {
  position: relative;
}

.scheduleCell {
  color: white;
  display: inline-block;
  position: absolute;
  z-index: 9;
  border-radius: 12px;
  background-image: linear-gradient(to top, #41ce36, #00af5a);
  margin: 0 1px;
  font-size: 11px;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
}
