/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../../variables.css';

.root {
}

.container {
  margin: 30px 10px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.label {
  flex: 1;
  line-height: 48px;
  text-align: center;
}

.contents {
  flex: 4;
}

.duration .startTime, .duration .endTime {
  width: 50%;
  display: inline-block;
}

.location {
  color: #a6a6a6;
  font-size: 12px;
  cursor: pointer;
}
