/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../variables.css';

.root {
}

.container {
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  font-weight: 400;
}

.chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00ae99;
  padding: 3px 8px;
  border-radius: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 0.85rem;
  margin-right: 15px;
}

.subChip {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a1d2cc;
  padding: 3px 8px;
  border-radius: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 0.85rem;
  margin-right: 15px;
}
