.wrap {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

.profileAddWrap {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #d3d3d3;
  background-image: url('/profile/profile-image@2x.png');
  background-size: cover;
  border-radius: 10px;
  margin: 20px;
}

.profileAddWrap input {
  z-index: -1;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  opacity: 0;
}

.isNotLoading {
  display: none !important;
}
.isLoading {
  display: block;
}

.tip {
  text-align: center;
  font-size: 13px;
  color: #009ac3;
  font-weight: 300;
  margin: 10px auto;
}

.btnName {
  margin: 10px auto;
  border-radius: 100px;
  width: 100px;
  padding: 8px 0;
  border: 1px solid #d0d0d0;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}
