.item {
  position: relative;
  display: inline-block;
  width: 100px;
}
.item img {
  width: 100px;
  height: 100px;
}

.main {
  border: 10px solid green;
}

.mainTag {
  background-color: #ff4500;
  color: white;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 4px 0;
}
