.wrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.userName {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: 500;
}

.infoGroup {
  margin-bottom: 10px;
}

.userRole {
  display: inline-block !important;
  margin: 0 0 0 10px;
  font-size: 0.7em;
}


.label {
  font-size: 12px;
  font-weight: 300;
  color: #d3d3d3;
}

.value {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
