
.root {
  position: relative;
}

.picker {
  width: 312px;
  position: absolute;
  top: 40px;
  z-index: 10;
  background-color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: transparent;
}
