
.root {
}

.itemWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 9px;
  min-height: 40px;
  background-color: #f2f2f2;
  border-top: 1px solid #dbd3cd;
  border-bottom: 1px solid #dbd3cd;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.headerItem {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-basis: 33%;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 500;
}


.item {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  border: 1px solid #ff8019;
  background-color: #fff;
  border-radius: 3px;
}

.itemId {
  padding: 0 8px;
  margin-right: 5px;
  color: #ff8019;
  font-size: 1.1rem;
  font-weight: bold;
  border-right: 1px solid #ff8019;
}

.itemLabel {
  color: #ff8019;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 10px;
}
