.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formLabel {
  font-size: 1em;
  font-weight: 500;
  color: #a5a5a5;
  text-align: left;
  margin-bottom: 15px;
  display: block;
}

.formValue {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
}
