
.dataRowWrap {
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px 2px #d3d3d3;
  border-radius: 5px;
  padding: 15px;
}

.dataRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-size: 0.85rem;
  font-weight: 400;
  color: #000;
}

