.wrap {

}

.help {
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #8f8f8f;
}

.emptyText {
  font-size: 0.937rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
}

@media only screen and (min-width: 860px) {
  .help {
    font-size: 1rem;
  }

  .emptyText {
    font-size: 1rem;
  }
}

.itemWrap {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.bullet {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  border-radius: 100%;
  background-color: #0eac9e;
}

.itemDuration {
  margin-left: 22px;
  color: #8b8b8b;
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 5px;
}

.itemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.85em;
  font-weight: bold;
  color: #505050;
  margin-bottom: 3px;
}

.experienceWrap {
  display: flex;
  flex-direction: column;
}
