.root {
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}


.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.row .label {
  text-align: left;
  color: #d3d3d3;
}

.row .value {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}


.userInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.userInfoContent {
  margin: 0 15px;
}
