.root {
  margin-bottom: 15px;
  padding: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.subheader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerMemoInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.memoInfoWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.memoId {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1.5em;
  margin-right: 20px;
}

.memoRegDate {
  color: #898989;
  font-size: 0.9em;
  font-weight: 300;
}

.content {
}

.dataRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dataRow label {
  font-size: 0.9em;
  font-weight: 500;
  color: #a5a5a5;
  text-align: left;
}

.label {
  width: 100px;
  font-size: 0.9em;
  font-weight: bold;
  color: #5c5c5c;
  margin-bottom: 15px;
}

.memoContentRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.memoContentRow label {
  font-size: 0.9em;
  font-weight: 500;
  color: #a5a5a5;
}

.memoContentLabel {
}

.memoContent {
  font-size: 1.1em;
  line-height: 1.6em;
  border: none;
  width: 100%;
  min-height: 50px;
}

.memoRegDate {
  color: #a5a5a5;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  padding-left: 15px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
}
