/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../../variables.css';

.root {
}

.container {
  margin: 45px auto;
}

.label {
  font-size: 15px;
  color: #383838;
  font-weight: 400;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexItem {
  flex: 3;
  text-align: center;
}

.flexDivider {
  flex: 2;
  text-align: center;
  line-height: 48px;
}
