.profileImageWrap {
  margin-bottom: 15px;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 15px;
}

.formGroup label {
  margin-bottom: 10px;
  font-weight: 500;
  color: #a5a5a5;
}

.formGroup .formGroupValue {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}
