
.root {
  display: flex;
  min-width: 56px;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 56px;
  height: 56px;
}

.iconWrap {
  position: relative;
  margin-bottom: 10px;
}

.checkIcon {
  position: absolute;
  right: -5px;
  bottom: 0;
}

.label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #939393;
}

@media only screen and (min-width: 860px) {
  .label {
    font-size: 0.9rem;
  }
}
