/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../variables.css';

.root {
}

.container {
}

.radio {
  font-size: 1em !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
}
