/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../variables.css';

.root {
  margin: 0 auto;
  padding: 0;
}

.container {
}

.columnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tableContainer {
  overflow: scroll;
  position: relative;
}

.timeColumn {
  /*position: fixed;*/
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: rgba(255,255,255, .5);
}

.timeCell {
  font-size: 12px;
  font-weight: 200;
  width: 50px;
  text-align: center;
  color: #9c9c9c;
}

.scheduleCellContainer {
  position: relative;
  margin-left: 25px;
  width: 100%;
  height: 390px;
}

.guideLine {
  border-bottom: 1px solid #ddd;
}

.btnAddSchedule {
  color: white;
  width: 123px;
  height: 43px;
  border-radius: 100px;
  background-image: linear-gradient(to left, #FE6368, #ff6700);
  box-shadow: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  left: calc(50% - 62.5px);
}

.dialogContainer {

}
