/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../../components/variables.css';

.wrap {
  position: relative;
  padding-bottom: 70px;
}

.help {
  font-size: 0.9rem;
  font-weight: 500;
  color: #666;
  text-align: center;
  margin-bottom: 33px;
}

@media only screen and (min-width: 860px) {
  .root {
    background-color: white;
    min-height: 100vh;
  }

  .container {
    max-width: 600px;
    margin: 70px auto;
    background-color: white;
    min-height: 100vh;
  }

  .help {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
    text-align: center;
  }
}
