.headerRow {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
}

.wrap {
  padding: 10px;
  margin-bottom: 10px;
}

.contentRow {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.contentRow label {
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
  color: #a5a5a5;
}

.contentRow span {
  text-align: right;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
}

.couponRow {
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #0a6ebd;
  margin-bottom: 5px;
}
