.wrap {
  position: relative;
  padding-bottom: 70px;
}

.stepStyle {
  width: 100%;
}

.step3Title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  color: #2b2b2b;
}

.stepHeaderParagraph {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2b2b2b;
  line-height: 1.64;
}

.wrapScheduleTypeButtons {
  padding: 0 15px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonScheduleType {
  display: block !important;
  margin: 8px auto !important;
  flex-basis: 48% !important;
  height: 44px !important;
  border-radius: 1px !important;
  background-color: #f1f3f5 !important;
}

.buttonScheduleType span {
  color: #646464 !important;
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
}

.buttonScheduleTypeOn {
  composes: buttonScheduleType;
  background-color: #ff7928 !important;
}

.buttonScheduleTypeOn span {
  color: white !important;
}

.wrapScheduleForm {
}

.wrapRegularScheduleForm {
  margin: 0 20px;
}

.wrapRegularStartDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labelScheduleForm {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #646464;
}

.wrapWeekday {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 13px 0;
}

.buttonWeekday {
  min-width: 0 !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 36px !important;
  background-color: #eee !important;
}

.buttonWeekday span {
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
  color: #646464 !important;
  padding: 0 !important;
  vertical-align: top !important;
}

.buttonWeekdayOn {
  composes: buttonWeekday;
  background-color: #ff7928 !important;
}

.buttonWeekdayOn span {
  color: white !important;
}

.wrapRegularScheduleTimeRange {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 25px;
}

.wrapRegularScheduleTime {

}

.buttonNext {
  background-color: #ff7928 !important;
  width: calc(100% - 24px) !important;
  height: 51px !important;
  border-radius: 2px !important;
  margin: 12px !important;
}

.buttonNext span {
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  color: white !important;
}

.buttonNegotiable {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f1f3f5;
  border-radius: 14px;
  padding: 10px 6px;
}

.buttonNegotiable span {
  padding: 0 !important;
}

.negotiableCheckIcon {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background-color: #cfcfcf;
  overflow: hidden;
  transition: background-color 300ms;
}

.negotiableCheckIconOn {
  composes: negotiableCheckIcon;
  background-color: #ff7928;
}


.negotiableCheckIcon::after,
.negotiableCheckIconOn::after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  left: 5px;
  top: 5px;
  transform: rotate(315deg);
}

.negotiableCheckIconOn::after {
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-name: badgeShowUp;
}

@keyframes badgeShowUp {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    height: 4px;
  }

  100% {
    width: 8px;
    height: 4px;
  }
}

.negotiableLabel {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #9b9b9b;
}

.wrapDayPickerForm {
}

.wrapUnplannedScheduleTimeRange {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.inlineTimeText {
  font-size: 0.875rem;
  font-weight: 500;
  color: #757575;
  display: inline-block;
}

.showContents {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hideContents {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.dateTimeItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: 860px) {
  .root {
    background-color: white;
    min-height: 100vh;
  }

  .wrap {
    max-width: 600px;
    margin: 70px auto;
    background-color: white;
    min-height: 100vh;
  }
}

