
/* eslint-disable no-undef, consistent-return */
/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
.header {
  position: relative;
  padding: 40px 25px 20px;
}
.header .btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
}
.header .title {
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.header .userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .userInfo .userInfoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #686868;
  font-size: 0.7rem;
  font-weight: 400;
}
.header .userInfo .userInfoItem .userInfoLabel {
  margin-right: 5px;
}
.descriptionWrap {
  padding: 20px 25px;
  background-color: #edf4fa;
  line-height: 1.4rem;
  margin-bottom: 45px;
}
.descriptionWrap .descriptionRow {
  color: #686868;
  font-size: 0.8rem;
  font-weight: 400;
}
.finalResultWrap {
  padding: 0 25px;
}
.finalResultWrap .title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.finalResultWrap .finalResultItemWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.finalResultWrap .finalResultItemWrap .finalResultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finalResultWrap .finalResultItemWrap .finalResultItem .label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #2b2b2b;
  margin-bottom: 10px;
}
.finalResultWrap .finalResultItemWrap .finalResultItem .circle {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #d3d3d3;
}
.finalResultWrap .finalResultItemWrap .finalResultItem .circle .label {
  margin-bottom: 5px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}
.finalResultWrap .finalResultBox {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  margin: 0 auto 40px;
  background-color: #d3d3d3;
  border-radius: 5px;
}
.finalResultWrap .finalResultBox .title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}
.finalResultWrap .finalResultBox .desc {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
}
.finalResultWrap .finalResultBox .btnWrap {
  margin-top: 15px;
}
.finalResultWrap .finalResultBox .btnWrap .btnCheckScore {
  padding: 10px 30px;
  background-color: #d3d3d3;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px;
}
.finalResultDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin-bottom: 30px;
}
.finalResultDesc .title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.finalResultDesc .descriptions {
  line-height: 1.6em;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 400;
  color: #5b5b5b;
}
.resultChartsWrap .chartTitle {
  font-weight: 500;
  font-size: 1.1rem;
  color: #000;
  margin: 15px 0;
  text-align: center;
}
.resultChartsWrap .lineChartWrap {
  padding: 20px;
}
.resultChartsWrap .lineChartWrap .charImage {
  width: 100%;
  height: 350px;
}
.resultChartsWrap .barChartWrap .chartDesc {
  padding: 20px;
}
.resultChartsWrap .barChartWrap .chartDesc .chartDescTitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin: 20px 0;
}
.resultChartsWrap .barChartWrap .chartDesc .descItemWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resultChartsWrap .barChartWrap .chartDesc .descItemWrap .descItem {
  color: #708f88;
  font-size: 0.75rem;
  font-weight: 400;
}
.resultChartsWrap .barChartWrap .barChartRowWrap {
  padding: 0 20px;
  margin-bottom: 25px;
}
.resultChartsWrap .barChartWrap .barChartRowWrap .barChartRow {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resultChartsWrap .barChartWrap .barChartRowWrap .barChartRow .name {
  min-width: 75px;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 15px;
  color: #585858;
}
.resultChartsWrap .barChartWrap .barChartRowWrap .barChartRow .barWrap {
  width: 100%;
}
.resultChartsWrap .barChartWrap .barChartRowWrap .barChartRow .emptySpace {
  min-width: 50px;
  height: 25px;
}
.resultChartsWrap .barChartWrap .barChartRowWrap .barChartRow .rank {
  min-width: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.7rem;
  font-weight: 400;
  color: #898989;
}
.resultChartsWrap .barChartWrap .barChartRowWrap .barChartRow .rank .rankGrade {
  font-size: 0.9rem;
}
.testResultItem {
  padding: 40px 30px;
}
.testResultItem .title {
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.testResultItem .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.testResultItem .content .rectChartWrap {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.testResultItem .content .rectChartWrap .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #b5b5b5;
}
.testResultItem .content .rectChartWrap .rectChart {
  width: 100%;
  margin-bottom: 5px;
}
.testResultItem .content .rectChartWrap .bottom {
  text-align: left;
  font-size: 0.7rem;
  font-weight: bold;
  color: #606060;
}
.testResultItem .content .score {
  margin-right: 10px;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
}
.testResultItem .content .circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #d3d3d3;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}
.footer {
  padding: 45px 70px 75px;
  text-align: center;
}
.footer .titleWrap {
  margin-bottom: 30px;
}
.footer .titleWrap .title {
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .titleWrap .subTitle {
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer .icon {
  margin-bottom: 15px;
}
.footer .desc {
  color: #7f7f7f;
  font-size: 0.9rem;
  font-weight: 400;
}
.loading {
  position: relative;
  padding: 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}
.chartBorder {
  background-color: #d2e3e1;
  height: 1px;
  width: 100%;
}
.separator {
  width: 1px;
  height: 10px;
  margin: 0 3px;
  background-color: #686868;
}
.sectionSeparator {
  width: 100%;
  height: 15px;
  background-color: #e8e8e8;
}
.gradientback {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff00', endColorstr='#000000',GradientType=0);
  /* IE6-9 */
}
