/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../variables.css';

.root {
}

.container {
  display: flex;
}

.container > * {
  flex: 1;
}

.button {
  height: 65px !important;
}

.buttonInactive {
  composes: button;
  background-color: white !important;
  border: 1px solid #d5d5d5 !important;
}

.buttonInactive span {
  font-size: 0.95em !important;
  font-weight: 400 !important;
  color: #646464;
}

.buttonActive {
  composes: button;
  background-color: #ff7928 !important;
  border: 1px solid #ff7928 !important;
}

.buttonActive span {
  font-size: 0.95em !important;
  font-weight: 400 !important;
  color: white !important;
}

.buttonInactive .subLabel {
  font-size: 0.812em !important;
  color: #9b9b9b !important;
}

.buttonActive .subLabel {
  font-size: 0.812em !important;
  color: white !important;
}

.labelBox {
  line-height: 1.16;
  margin-top: -25px;
}
