.wrap {
  position: relative;
  padding-bottom: 70px;
}

.stepStyle {
  width: 100%;
}

.step2SubTitle {
  font-size: 0.9375rem;
  font-weight: normal;
  color: #666;
  text-align: center;
  margin: 34px 0 11px;
}

.wrapChildrenButton {
  margin: 0 23px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.buttonChildren {
  width: calc(50% - 3px);
}

.buttonChildrenOn {
  composes: buttonChildren;
  background-color: #ff7928 !important;
}

.buttonChildrenOn span {
  color: white !important;
  font-size: 0.9375rem !important;
  padding: 0 !important;
  margin-bottom: 5px !important;
  display: inline-block !important;
}

.buttonChildrenOff {
  composes: buttonChildren;
  background-color: #f1f3f5 !important;
}

.buttonChildrenOff span {
  color: #646464 !important;
  font-size: 0.9375rem !important;
  padding: 0 !important;
  margin-bottom: 5px !important;
  display: inline-block !important;
}

.showContents {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hideContents {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.wrapChildrenTypeButton {
  margin: 0 23px;
}

.childTypeIcon {
  width: 49px;
  height: 37px;
}

.buttonChildType {
  min-width: 0 !important;
  max-width: 80px !important;
  margin: 0 4px !important;
  width: calc(25% - 8px) !important;
  height: 88px !important;
  text-align: center !important;
  border-radius: 5px !important;
}

.buttonChildType span {
  padding: 0 !important;
}

.buttonChildTypeOn {
  composes: buttonChildType;
  background-color: #ff7928 !important;
}

.buttonChildTypeOff {
  composes: buttonChildType;
  background-color: #f1f3f5 !important;
}

.childTypeLabelOn {
  color: white;
}

.childTypeLabelOff {
  color: #a6a6a6;
}

.wrapChildTypeButton {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.warpPayment {
  margin: 0 23px;
}

.wrapPaymentInput {
  border: 1px solid #dbdbdb;
  height: 48px;
  line-height: 48px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  overflow: hidden;
}

.paymentInput {
  border: none;
  text-align: right;
  font-size: 1.375rem;
  font-weight: 500;
  color: #2b2b2b;
}

.paymentPostFix {
  display: inline-block;
  font-size: 0.9365rem;
  font-weight: 500;
  color: #191919;
  margin: 3px 20px 0 8px;
}

.buttonNegotiable {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttonNegotiable span {
  padding: 0 !important;
}

.negotiableLabel {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #595959;
}

.negotiableCheckIcon {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background-color: #dcdcdc;
  overflow: hidden;
  transition: background-color 300ms;
}

.negotiableCheckIconOn {
  composes: negotiableCheckIcon;
  background-color: #ff7928;
}

.negotiableCheckIcon::after,
.negotiableCheckIconOn::after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  left: 5px;
  top: 5px;
  transform: rotate(315deg);
}

.negotiableCheckIconOn::after {
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-name: badgeShowUp;
}

@keyframes badgeShowUp {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    height: 4px;
  }

  100% {
    width: 8px;
    height: 4px;
  }
}

.paymentWarning {
  font-size: 0.8125rem;
  color: #ff4500;
  font-weight: 500;
  line-height: 1.46;
  margin: 0;
}

@media only screen and (min-width: 860px) {
  .root {
    background-color: white;
    min-height: 100vh;
  }

  .wrap {
    max-width: 600px;
    margin: 70px auto;
    background-color: white;
    min-height: 100vh;
  }
}

