.root {
  transition: height 0.35s linear;
  margin-bottom: 15px;
}

.content {
  transition: height 0.35s ease;
  max-height: 550px;
  overflow: hidden;
  overflow-y: scroll;
}

.widgetHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}
