.wrap {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewContentWrap {
  /*padding: 15px;*/
  margin-left: 15px;
  width: 100%;
}

.reviewContentRow {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.reviewContentRow label {
  font-weight: 500;
  color: #a5a5a5;
  margin-bottom: 10px;
  text-align: left;
}

.reviewContentRow span {
  line-height: 1.8em;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  text-align: right;
}

.itemUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  margin: 10px 0;
  font-size: 1em;
  font-weight: bold;
}
