/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../variables.css';

.root {
}

.container {
  padding: 15px;
  top: 0;
  z-index: 10;
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.title {
  text-align: center;
  font-size: 22px;
  line-height: 1.59;
  margin: 0 0 20px 0;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexBox {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.label {
  line-height: 48px;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.repeatOption {
  display: flex;
}

.repeatOption .label {
  flex: 2;
}

.repeatOption .contents {
  flex: 1;
  min-width: 140px;
}

.btnSave {
  margin: 20px auto;
  text-align: center;
  display: block;
  padding: 10px 30px;
  color: white;
  border-radius: 100px;
  background-image: linear-gradient(to left, #FE6368, #ff6700);
  box-shadow: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.void {
  padding: 20px;
  width: 100%;
}
