.root {
  margin-bottom: 15px;
  padding: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.headerMemoInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.memoInfoWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.memoId {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1.5em;
  margin-right: 20px;
}

.memoRegDate {
  color: #898989;
  font-size: 0.9em;
  font-weight: 400;
}

.dataRow label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  color: #5c5c5c;
}

.label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  color: #5c5c5c;
  margin-bottom: 15px;
}

.memoContentRow {
  margin-bottom: 10px;
}

.memoContentRow label {
  width: 100px;
  font-size: 0.9em;
  font-weight: bold;
  color: #5c5c5c;
  display: block;
}

.memoContentLabel {
}

.memoContent {
  font-size: 1.1em;
  line-height: 1.6em;
  border: none;
  width: 100%;
  min-height: 50px;
}
