
.root {
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  text-align: center;
}

.couponStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.couponStatus .label {
  font-size: 0.8rem;
  color: #767676;
}

.date {
  color: #767676;
  font-size: 0.8rem;
}
