
.root {
  margin-bottom: 15px;
  padding: 15px;
}

.formRow {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.formRow label {
  font-weight: bold;
  font-size: 0.9em;
  color: #a5a5a5;
}

.formRow .formValue {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}
