.headerRow {
  padding: 15px;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  color: #d3d3d3;
}
.wrap {
  margin-bottom: 15px;
  padding: 15px;
}

.actionWrap {
  text-align: right;
}

.itemRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.itemRow label {
  font-weight: 500;
  color: #a5a5a5;
  margin-bottom: 5px;
}

.itemRow span {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.itemRow p {
  text-align: right;
  border-bottom: 1px solid #d3d3d3;
}

.productDateRange {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.couponRow {
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #0a6ebd;
  margin-bottom: 5px;
}

