/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../variables.css';

.root {
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.itemWrap {
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  width: 60px;
}

.itemWrapActive {
  composes: itemWrap;
  color: #028071;
}

.itemWrapInactive {
  composes: itemWrap;
  color: #939393;
}

.itemImage {

}
