.row td {
  border-top: none;
}

.wrap {
  display: flex;
  flex-direction: row;
  padding: 15px;
  max-height: 300px;
  overflow-y: scroll;
}

.actions {
  padding: 15px;
  text-align: right;
  margin-top: 10px;
}

.certFileWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.certData {
  text-align: left;
}

.certDataItem {
  margin-bottom: 15px;
}

.certDataItem label {
  color: #afafaf;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.childInfoWrap {
  display: flex;
  flex-direction: row;
}

.certChildItem {
  padding: 15px;
  border: 1px solid #d3d3d3;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px #d3d3d3;
}

.label {
  color: #afafaf;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 0.9em;
}
