/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../../variables.css';

.root {
}

.container {

}

.locationContainer {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
}

.head {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

.hr {
  width: 80%;
  margin: 22px auto;
  border-color: #f0f0f0;
}
