
.root {
  flex-basis: 33%;
  border-top: 1px solid #d9d9d9;
  border-left: 0.5px solid #d9d9d9;
  border-right: 0.5px solid #d9d9d9;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.container {}
