.wrap {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemUserInfo {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.content {
  width: 100%;
  text-align: left;
}
.contentWrap {
  padding: 15px;
}
.contentRow {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contentRow label {
  font-weight: 500;
  color: #a5a5a5;
}

.contentRow span {
  text-align: right;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
}

.userName {
  margin-top: 15px;
  font-size: 1em;
  font-weight: bold;
}
