.wrap {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  width: 95%;
  padding: 10px;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
}

.input {
  position: absolute;
  cursor: inherit;
  pointer-events: all;
  opacity: 0;
  width: 100%;
  left: 0px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
}

.iconWrap {
}

.contentWrap {
}

.labelWrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.mainLabel {
  font-weight: bold;
}

.subLabel {
  font-size: 0.9em;
  color: #d3d3d3;
}

.description {
  font-size: 0.9em;
  color: #d3d3d3;
}
