.filterItem {
  display: flex;
  flex-direction: row;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 5px 0;
  padding: 2.5px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px #d9d9d9;
}
