/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../variables.css';

.root {
}

.container {
}

.label {

}

.datePicker {

}

@media only screen and (max-width: 860px) {

  .datePicker {

  }

}


@media only screen and (min-width: 860px) {

}
