/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */

.rmc-picker-popup-mask {
  z-index: 1400;
}

.rmc-picker-popup-wrap {
  z-index: 1500;
}

.rmc-picker-item {
  font-weight: 400;
  color: black;
}
