.formRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.formLabel {
  font-size: 0.9em;
  font-weight: 500;
  color: #a5a5a5;
}

.formValue {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
}
