.wrap {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  margin-right: 10px;
}

.contentWrap {
  width: 100%;
}

.contentRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contentRow label {
  font-weight: 500;
  color: #a5a5a5;
  text-align: left;
}

.contentRow span {
  text-align: right;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
}

