/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
.root {

}

.dialogMessage {
  font-size: 0.9em;
  font-weight: normal;
}

.warpActivity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
