/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../variables.css';

.root {
}

.container {
}

.wrapLabel {
  display: flex;
  justify-content: space-between;
}

.label {
  margin-top: 13px;
  font-size: 0.937em;
  font-weight: 500;
  color: #6b6b6b;
  text-align: center;
  letter-spacing: -0.6px;
}

@media only screen and (min-width: 860px) {

  .label {
    font-size: 1em;
  }

}
