/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */

.rc-slider-handle {
  width: 33px;
  height: 33px;
  margin-top: -12px;
  margin-left: -15px;
  border: 2px solid #ff7928;
}

.rc-slider-handle:active,
.rc-slider-handle:hover {
  border: 2px solid #ff7928;
}

.rc-slider-rail,
.rc-slider-track {
  height: 12px;
}

.rc-slider-track {
  background-color: #ff7928;
}

.rc-slider-dot {
  width: 7px;
  height: 7px;
  bottom: -6px;
  background-color: white;
}

.rc-slider-dot.rc-slider-dot-active {
  background-color: #ffccad;
}

.rc-slider-dot-active {
  border-color: transparent;
}
