/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../../variables.css';

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexBox {
  flex: 1;
  overflow: hidden;
  position: relative;
}
