/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../variables.css';

.root {
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.timePicker {
  flex: 1;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.icon {
  flex: 2;
  overflow: hidden;
  text-align: center;
  position: relative;
  line-height: 72px;
}
