
.root {

}

.barWrap {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
}

.cross {
  position: absolute;
  width: 105%;
  height: 1px;
  border-top: 2px dashed;
}

.circle {
  position: relative;
  top: -5px;
  border-radius: 100px;
  width: 10px;
  height: 10px;
}

.fillArea {
}

.line {
  position: absolute;
  top: 0;
  background-color: transparent;
  border-right: 2px dashed #606060;
}

.top {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #606060;
  left: -6px;
}

.bottom {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #606060;
  left: -6px;
}


.label {
  position: absolute;
  top: 15%;
}
