.wrap {
  margin: 15px 15px;
  display: flex;
  justify-content: space-between;
  line-height: 1.6em;
  align-items: baseline;
}

.label {
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  width: 60px;
  text-align: right;
}

.timeLabel {
  display: inline-flex;
  font-size: 1em;
  font-weight: 400;
  color: #a6a6a6;
}

.separator {
  display: inline-flex;
  font-size: 1em;
  font-weight: 400;
  color: #a6a6a6;
}
