/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../variables.css';

.root {
}

.container {
}

.title {
  font-size: 1.25em;
  margin: 16px 0;
}
