/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../variables.css';

.root {
  width: 0;
  overflow: visible;
  padding: 5px;
  flex: 1;
}

.container {
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  width: 50px;
  color: #383838;
}

.dayOfWeek {
  text-align: center;
  font-size: 15px;
}

.dayOfMonth {
  text-align: center;
}
