/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../../variables.css';

.root {
}

.container {
  position: relative;
}

.title {
  font-size: 30px;
  line-height: 1.17;
  text-align: center;
  margin: 44px 0;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 10%;
}

.flexBox {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.timeLabel {
  line-height: 48px;
  font-size: 20px;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

.hr {
  width: 80%;
  margin: 22px auto;
  border-color: #f0f0f0;
}
