/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@mfort.co.kr
 */
@import '../variables.css';

.root {
}

.container {
}

.wrapTitle {
  padding: 10px 20px;
}

.title {
  margin: 20px 0 0 0;
  font-size: 18px;
}

.sub {
  font-size: 13px;
  font-weight: 400;
  color: #7b7b7b;
  margin: 5px 0 15px 0;
}

@media only screen and (min-width: 860px) {

  .title {
    font-size: 1.5em;
  }

  .wrapTitle {
    height: auto;
  }

  .sub {
    font-size: 16px;
  }

}
