/**
 * Copyright (C) Momsitter, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by contact.momsitter@gmail.com
 */
@import '../variables.css';

.root {
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.itemWrap {
  width: 60px;
  height: 60px;
  position: relative;
  margin-bottom: 20px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
}

.itemWrapActive {
  composes: itemWrap;
  color: #028071;
}

.itemWrapInactive {
  composes: itemWrap;
  color: #8f8f8f;
}

.itemImage {
  width: 47px;
  height: 47px;
}

@media only screen and (min-width: 860px) {

  .itemWrap {
    width: 80px;
    height: 80px;
    font-size: 1em;
  }

}
