
.root {
  position: relative;
  overflow: scroll;
}

.container {
  padding-bottom: 30px;
}

.tableContainer {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.timeColumn {
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: rgba(255,255,255, .5);
}

.timeCell {
  font-size: 12px;
  font-weight: 400;
  width: 50px;
  text-align: center;
  color: #9c9c9c;
}

.scheduleCellContainer {
  position: relative;
  margin-left: 25px;
  width: 100%;
  height: 390px;
}

.guideLine {
  border-bottom: 1px solid #ddd;
}

.shortTermTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.timeItem {
  text-align: center;
}

.timeLabel {
  color: #7c7c7c;
  font-size: 0.9rem;
  font-weight: 400;
}

.timeDesc {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
}

.rightGreenArrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #11b38f;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.unplannedFooter {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
