.root {
  padding: 15px;
  margin-bottom: 15px;
}

.certDataWrap {
  padding: 15px;
}

.innerRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.innerRow label {
  color: #a5a5a5;
  font-size: 0.9em;
}

.innerRow span {
  font-size: 1em;
  font-weight: 500;
}

.dataRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dataRow .dataLabel {
  color: #a5a5a5;
  margin-bottom: 10px;
  text-align: left;
}

.dataRow .dataValue {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
  text-align: right;
}
