.wrap {
  padding: 15px;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formLabel {
  font-size: 1em;
  font-weight: 500;
  color: #a5a5a5;
  text-align: left;
  margin-bottom: 15px;
  display: block;
}
